@{
    ViewBag.Title = "HK Boy God Marketplace";
}

<div class="jumbotron">
    <h1>HK Boy God Marketplace</h1>
    <p class="lead">You can find all the coolest products from around the world in HK Boy God Marketplace! Good Price!</p>
    <p><a href="~/Records/Create" class="btn btn-primary btn-lg">Buy Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Surface Pro 4</h2>
        <p>
            HK$7,888
        </p>
        <p><a href="https://www.microsoftstore.com.hk/product/surfacepro4/MICHK00764">
            <img src="~/Images/SurfacePro.png" style="width: 100%; height:auto"/>
           </a></p>
    </div>
    <div class="col-md-4">
        <h2>Surface Book</h2>
        <p>HK$14,988</p>
        <p><a href="https://www.microsoftstore.com.hk/product/surfacebook/MICHK00676">
            <img src="~/Images/SurfaceBook.png" style="width: 100%; height:auto"/>
           </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Surface Studio</h2>
        <p>HK$29,999</p>
        <p><a href="https://www.microsoft.com/en-us/surface/devices/surface-studio/overview">
            <img src="~/Images/SurfaceStudio.png" style="width: 100%; height:auto"/></a></p>
    </div>
</div>